## backups
*~
*#
*.orig
*.swp
*.modif

## ignore output folder
workspace
resources

## defconfigs stuff
linux-defconfigs

## docker environment
.env

## gitconfig, checked in, should not be tracked further
docker/build_configs/.gitconfig
